:root {
    --text: #060d0f;
    --background: #f4f9fb;
    --primary: #4fa3c4;
    --secondary: #8cc5de;
    --accent: #49859c;
}
body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif
}
header {
    text-align: center;
}
header img {
    width: 100%;
    height: auto;
    display: block;
}
header h1 {
    padding: 20px 0;
    background-color: var(--primary);
    color: var(--text);
    font-size: 2em;
}
h1 a {
    text-decoration: none;
    color: inherit;
}

.main-container h2 {
    padding-left: 20px;
    padding-top: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}
nav li a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
}
nav li a:hover {
    color: var(--accent)
}
.main-nav ul {
    gap: 30px;
    background-color: var(--secondary);
    padding: 15px 0;
}
.footer-nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}
footer {
    font-size: 75%;
    font-style: italic;
    background-color: var(--primary);
    color: var(--text);
    text-align: center;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif
}
footer p {
    margin: 5px 0;
}

.columns {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.col {
    flex: 1;
    background-color: var(--background);
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    padding-top: 0;
}
.button {
    display: inline-block;
    padding: 8px 15px;
    background-color: var(--accent);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.button:hover {
    background-color: var(--primary)
}
.col .article {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 3px solid var(--accent);
    background-color: var(--secondary);
    border-radius: 5px;
}
.col .article a {
    text-decoration: none;
    color: var(--text);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.nav-menu li.dropdown {
    position: relative;
}
.nav-menu a {
    text-decoration: none;
    color: var(--text);
    padding: 1px 10px;
    display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;     
  left: 0;
  background-color: var(--secondary);
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid;
  border-radius: 5px;
  min-width: 150px;
  z-index: 1000;
}
.dropdown-menu li a {
  padding: 8px 12px;
  color: var(--text);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu li a:hover {
  background-color: var(--primary);
  color: var(--text);
}

@media (max-width: 768px) {
    .columns {
        flex-direction: column;
        gap: 10px;
    }
    .button {
        width: 100%;
        text-align: center;
    }
}