:root {
    --text: #060d0f;
    --background: #f4f9fb;
    --primary: #4fa3c4;
    --secondary: #8cc5de;
    --accent: #49859c;
}
body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif
}
header {
    text-align: center;
}
header img {
    width: 100%;
    height: auto;
    display: block;
}
header h1 {
    padding: 20px 0;
    background-color: var(--primary);
    color: var(--text);
    font-size: 2em;
}
h1 a {
    text-decoration: none;
    color: inherit;
}
main {
    background-color: var(--background);
    color: var(--text);
    padding: 10px 20px;
    overflow: auto;
    min-height: 400px;
}

nav {
    background-color: var(--secondary);
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
    padding-right: 2em;
    position: relative;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav li {
    padding: 0.5em;
    display: inline-block;
}
nav a {
    text-decoration: none;
    display: block;
}
nav a:link {
    color: var(--text);
}
nav a:visited {
    color: var(--text);
}
nav a:hover {
    color: var(--primary);
}
nav ul ul {
    position: absolute;
    background-color: var(--secondary);
    padding: 0;
    display: none;
    text-align: left;
}
nav ul ul li {
    border: 1px solid var(--primary);
    display: block;
    width: 8em;
    padding-left: 1em;
    margin-left: 0;
}
nav li:hover ul {
    display: block;
}

footer {
    font-size: 75%;
    font-style: italic;
    background-color: var(--primary);
    color: var(--text);
    text-align: center;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif
}
footer p {
    margin: 5px 0;
}
footer nav {
    background-color: var(--primary);
    font-weight: normal;
}

.columns {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.col {
    flex: 1;
    background-color: var(--background);
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    padding-top: 0;
}

.button {
    display: inline-block;
    padding: 8px 15px;
    background-color: var(--accent);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.button:hover {
    background-color: var(--primary)
}

.col .article {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 3px solid var(--accent);
    background-color: var(--secondary);
    border-radius: 5px;
}
.col .article a {
    text-decoration: none;
    color: var(--text);
}

.fit-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}

figure figcaption {
    font-size: 0.9em;
    text-align: center;
}

@media (max-width: 768px) {
    .columns {
        flex-direction: column;
        gap: 10px;
    }
    .button {
        width: 100%;
        text-align: center;
    }
}